.header {
  background: var(--gray-700);
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  line-height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 800;
}


.header img {
  width: 1.375rem;
  height: 2.25rem;
  position: relative;
  top: 0.25rem;
}

.primary {
  color: var(--blue-100);
}

.secondary {
  color: var(--purple-500);
}